<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ratpack: ${model.title}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="lib/normalize/normalize.css">
  <link rel="stylesheet" href="styles/bookmarks.css">

  <!-- build:js scripts/modernizr.js -->
  <script src="lib/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <header>
    <h1>Bookmarks in Groovy</h1>
    <p>A web bookmark application created in the Ratpack framework for Java &amp; Groovy</p>
  </header>

  <section>
    <h1>${model.title}</h1>
    <div>
        <form action="/bookmarks" method="post" id="add">

            <input name="title" type="text" placeholder="Title" width="40"required><br/>
            <input name="url" type="url" placeholder="URL" width="20" required><br/>
            <input name="tags" type="text" placeholder="Tags" width="20"><br/>
            <textarea name="notes" maxlength="1024" placeholder="Notes" width="20 "></textarea><br/>
            <input name="submit" type="submit">
        </form>
    </div>
    <p>Bookmarks found for user:</p>
    <% if (model.bookmarks.size() == 0) { %>
      <p>No bookmarks have been created yet.</p>
    <% } else { model.bookmarks.each { %>
      <p><a href="${it.url}">${it.title}</a></p>
      <p>Tags: ${it.tags}</p>
    <% } } %>
  </section>

  <footer class="site-footer"></footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  </script>

  <!-- build:js scripts/jquery.js -->
  <!-- endbuild -->
</body>
</html>
